    .status-grid{

        display:grid;

        grid-template-columns:1fr 1fr;

        gap:12px;

        margin-bottom:8px;

    }

    .status-card{

        display:flex;

        align-items:center;

        justify-content:space-between;

        padding:10px;

        border-radius:18px;

        border:1px solid #31384a;

        background:#171b27;

        transition:.25s;

    }

    .status-left{

        display:flex;

        align-items:center;

        gap:5px;

    }

    .status-icon{

        width:25px;

        height:25px;

    }

    .status-left h3{

        margin:0;

        font-size:18px;

        font-weight:700;

        color:white;

    }

    .status-card.twitch.live{

        border-color:#9146FF;

        box-shadow:0 0 40px rgba(145,70,255,.35);

    }

    .status-card.youtube.live{

        border-color:#ff3030;

        box-shadow:0 0 40px rgba(255,48,48,.35);

    }

    .live-pill{

        display:flex;

        align-items:center;

        gap:6px;

        padding:6px 12px;

        border-radius:999px;

        font-size:12px;

        font-weight:700;

    }

    .live-pill.purple{

        background:#9146FF;

        color:white;

        box-shadow:0 0 12px rgba(145,70,255,.5);

    }

    .live-pill.red{

        background:#ff0000;

        color:white;

        box-shadow:0 0 12px rgba(255,0,0,.5);

    }

    .live-pill.offline{

        background:#555;

        color:white;

    }

    .live-dot{

        width:6px;

        height:6px;

        border-radius:50%;

        background:white;

    }