.status-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:12px;

    margin-bottom:16px;

}

.status-card{

    height:72px;

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    border-radius:20px;

    border:2px solid;

    transition:.3s ease;

}

/* ========================= */

.status-icon{

    width:30px;

    height:30px;

    object-fit:contain;

}

/* ========================= */

.status-content{

    display:flex;

    flex-direction:column;

    gap:8px;

}

.status-content h3{

    font-size:18px;

    font-weight:700;

    margin:0;

}

/* ========================= */

.live-pill{

    display:flex;

    align-items:center;

    gap:6px;

    width:max-content;

    padding:3px 10px;

    border-radius:999px;

    font-size:11px;

    font-weight:700;

    color:white;

    transition:.3s;

}

.live-dot{

    width:7px;

    height:7px;

    border-radius:50%;

}

/* ========================= */

.purple{

    background:#9146FF;

    box-shadow:
        0 0 10px #9146FF;

}

.purple .live-dot{

    background:white;

}

.red{

    background:#FF0000;

    box-shadow:
        0 0 10px #FF0000;

}

.red .live-dot{

    background:white;

}

.offline{

    background:#555;

    box-shadow:none;

}

.offline .live-dot{

    background:#BFBFBF;

}

/* ========================= */

.twitch{

    background:#121426;

    border-color:#9146FF66;

}

.youtube{

    background:#241214;

    border-color:#FF2A2A66;

}

/* ========================= */

.twitch.live{

    border-color:#9146FF;

    box-shadow:
        0 0 20px rgba(145,70,255,.25);

}

.youtube.live{

    border-color:#FF2A2A;

    box-shadow:
        0 0 20px rgba(255,0,0,.18);

}