.chat-panel{

    height:700px;

    background:#11131D;

    border:1px solid #2A2F3B;

    border-radius:20px;

    padding:16px;

    display:flex;

    flex-direction:column;

    margin-bottom:8px;

}

/* ======================= */

.chat-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

}

.chat-title{

    font-size:22px;

    font-weight:700;

}

.merged-feed{

    display:flex;

    align-items:center;

    gap:8px;

    padding:8px 12px;

    background:#1E2432;

    border-radius:999px;

    font-size:13px;

    color:#D7DBE7;

}

.merged-feed span{

    font-weight:700;

    color:white;

}

/* ======================= */

.chat-body{

    flex:1;

    overflow-y:auto;

    display:flex;

    flex-direction:column;

    gap:14px;

    padding-right:4px;

}

/* Scrollbar */

.chat-body::-webkit-scrollbar{

    width:6px;

}

.chat-body::-webkit-scrollbar-thumb{

    background:#555;

    border-radius:10px;

}

/* ======================= */

.new-message-btn{

    align-self:center;

    display:flex;

    align-items:center;

    gap:8px;

    margin-top:14px;

    padding:10px 18px;

    border:none;

    border-radius:999px;

    background:#5D2BC9;

    color:white;

    font-weight:600;

    cursor:pointer;

    transition:.25s;

    box-shadow:
        0 0 16px rgba(145,70,255,.35);

}

.new-message-btn:hover{

    transform:translateY(-1px);

    background:#7140DD;

}