.chat-panel{

height:430px;

background:#11131D;

border-radius:22px;

border:1px solid #292E3A;

margin-bottom:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

font-weight:700;

}