.viewer-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;

    margin-bottom:8px;

}

.viewer-card{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:10px 14px;

    background:#171b27;

    border:1px solid #31384a;

    border-radius:18px;

    transition:.25s;

}

.viewer-card:hover{

    border-color:#4d5670;

}

.viewer-card.twitch{

    border-color:#9146FF;

    box-shadow:0 0 40px rgba(145,70,255,.35);

}

.viewer-card.youtube{

    border-color:#ff3030;

    box-shadow:0 0 40px rgba(255,48,48,.35);

}

.viewer-card.shorts{

    border-color:#ff3030;

    box-shadow:0 0 40px rgba(255,48,48,.35);

}

.viewer-left{

    display:flex;

    align-items:center;

    gap:1px;

}

.viewer-icon{

    width:20px;

    height:20px;

    object-fit:contain;

}

.viewer-platform{

    color:#ffffff;

    font-size:15px;

    font-weight:700;

    letter-spacing:.5px;

}

.viewer-count{

    color:#ffffff;

    font-size:20px;

    font-weight:800;

    line-height:1;

}