.card{

    border:2px solid;

    border-radius:22px;

    padding:18px;

    transition:.25s;

}

.card-top{

    display:flex;

    align-items:center;

    gap:16px;

}

.card-icon{

    display:flex;

    align-items:center;

    justify-content:center;

    width:54px;

    height:54px;

    border-radius:16px;

    background:rgba(255,255,255,.05);

}

.card-info h3{

    font-size:1.45rem;

    font-weight:700;

}

.card-info h1{

    font-size:3rem;

    margin-top:2px;

}

.card-info p{

    color:#AEB4C2;

}

.live-row{

    display:flex;

    align-items:center;

    gap:8px;

    margin-top:6px;

    color:#2CE45B;

    font-weight:700;

}

.live-dot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#2CE45B;

    box-shadow:0 0 8px #2CE45B;

}