*{

    margin:1px;

    padding: 1px;

    box-sizing:border-box;

}

html,
body,
#root{

    width:100%;

    min-height:100%;

}

body{

    background:var(--bg);

    color:var(--text);

    font-family:

        Inter,

        Arial,

        sans-serif;

}

button{

    cursor:pointer;

    font-family:inherit;

}

img{

    display:block;

    max-width:100%;

}