.app{

min-height:100vh;

background:#07080D;

display:flex;

justify-content:center;

}

.container{

width:100%;

max-width:480px;

padding:5px;

}

@media(min-width:431px){

.container{

border-left:1px solid #1B1E27;

border-right:1px solid #1B1E27;

}

}